*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

li {
    padding: 5px 15px;
    background-color: aquamarine;
    border-bottom: 1px solid tan;
    /* width: 500px; */
}
li:nth-child(odd) { 
    background: darkgrey;
    padding: 15px;
}

li:hover{
    margin-left:2px;
    margin-right: -2px;
    cursor: pointer;
}

.selectedTimes {
    background-color: aqua;
    border: 1px solid royalblue;
}

.time-type {
    font-size: 8px;
}

.fullWidth {
    width: 28em;
}

.event {
    float: right;
}